
body{
    background-image: url("../src/components/images/background.jpeg");
}
.container{
    background-color: #1d5acabe;
}
.card-img-body{
    size: 100px;
}
.row{
    padding: 12px; 
}
.nav{
    background-image: url("../src/components/images/background.jpeg");
}

.nav-item{
    background-color: white;
}

.nav-link{
    color: white
}

.custom-navbar a:hover {
    color: teal;
}
img {
    block-size: 500px;
}
h2 {
    text-decoration: underline;
}
h1, h2,h5 {
    color: rgb(225, 225, 238);
}
#contact a{
    color: rgb(225, 225, 238);
}
#contact a:hover{
    color: teal;
}
.card {
height: 600px;
padding: 25px;

/* width: 210px; */
}
.card-title {
    font-family: 'Times New Roman', Times, serif;
    color:steelblue;
    font-size: 2rem;
}
.card-footer {
    position: bottom;
}
.active, .project-link {
    background-color: rgb(14, 6, 126) !important;
    color:rgb(225, 225, 238) !important;
    border: none !important;
}
.about{
    color:lavender;
    padding: 20px;
}
.home{
    flex-direction: row !important;
    background-color:rgba(2, 2, 95, 0.699)!important;
    
}
.contact{
    background-color:rgba(2, 2, 95, 0.699)!important;
}